a {
	color: black;
	text-decoration: none;
}
a:hover {
	color: #2372B2;
}
body {
	font-family: 'Nunito', sans-serif;
	background-color: #2E3948;
	margin: 0;
	padding: 0;
	line-height: 1.75;
}
.wrapper {
	background-color: white;
	margin-top: 30px;
	margin-bottom: 30px;
	margin-left: 20px;
	margin-right: 20px;
}
body, textarea {
	font-size: 16px;
}
.header {
}
.content {
	padding-left: 10%;
	float: left;
	width: 65%;
	padding-right: 5%;
}
.aside {
	float: right;
	text-align: left;
	width: 20%;
}
.center {
	width: 62%;
	margin: 0 auto;
}
h1 {
	height: 120px;
	line-height: 120px;
	margin: 0;
	text-align: center;
	color: #2E3948
}
h2 {
	font-size: 150%;
	clear: both;
}
p {
	line-height: 2em;
}
img {
	max-width: 100%;
	height: auto;
}
.footer {
	padding-top: 20px;
	text-align: center;
	clear: both;
	height: 50px;
}
textarea {
	resize: none;
	overflow: auto;
	width: 100%;
	border-radius:3px;
}
.topicBox {
	font-size:24px;
	width:100%;
	height: 1.5em;
	border:1px solid #888888; 
	border-radius: 2px;
}
#postButton {
	float: right;
	-moz-box-shadow: 0px 0px 0px 2px #9fb4f2;
	-webkit-box-shadow: 0px 0px 0px 2px #9fb4f2;
	box-shadow: 0px 0px 0px 2px #9fb4f2;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #7892c2), color-stop(1, #476e9e));
	background:-moz-linear-gradient(top, #7892c2 5%, #476e9e 100%);
	background:-webkit-linear-gradient(top, #7892c2 5%, #476e9e 100%);
	background:-o-linear-gradient(top, #7892c2 5%, #476e9e 100%);
	background:-ms-linear-gradient(top, #7892c2 5%, #476e9e 100%);
	background:linear-gradient(to bottom, #7892c2 5%, #476e9e 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#7892c2', endColorstr='#476e9e',GradientType=0);
	background-color:#7892c2;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	border:1px solid #4e6096;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:19px;
	padding:5px 14px;
	text-decoration:none;
	text-shadow:0px 1px 0px #283966;
}
#postButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #476e9e), color-stop(1, #7892c2));
	background:-moz-linear-gradient(top, #476e9e 5%, #7892c2 100%);
	background:-webkit-linear-gradient(top, #476e9e 5%, #7892c2 100%);
	background:-o-linear-gradient(top, #476e9e 5%, #7892c2 100%);
	background:-ms-linear-gradient(top, #476e9e 5%, #7892c2 100%);
	background:linear-gradient(to bottom, #476e9e 5%, #7892c2 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#476e9e', endColorstr='#7892c2',GradientType=0);
	background-color:#476e9e;
}
#postButton:active {
	position:relative;
	top:1px;
}
.articleInfo {
	float: left;
	width: 20%;
}
.text {
	float: right;
	width: 80%;
}
.interval {
	clear: both;
}
.pages {
	clear: both;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 30%;
	font-size: 200%;
	font-family: Montserrat, "Helvetica Neue", sans-serif;
}
#currentPage {
	color: #2372B2;
}
#currentPage, #otherPage {
	padding-right: 20px;
}
.comment {
	clear: both;
}
