body {
	margin: 0;
	padding: 0;
}
body, textarea, input {
	font-size: 16px;
}
.header {
	background-color: #F3F2ED;
}
.content {
	padding-left: 10%;
	float: left;
	width: 62%;
}
.aside {
	float: right;
	text-align: left;
	width: 28%;
}
.center {
	width: 62%;
	margin: 0 auto;
}
h1 {
	height: 120px;
	line-height: 120px;
	margin: 0;
	text-align: center;
}
h2 {
	font-size: 150%;
	padding-left: 5%;
}
p {
	line-height: 2em;
}
.footer {
	text-align: center;
	clear: both;
}
textarea {
	resize: none;
	overflow: auto;
}
.topicBox {
	height: 2em;
	width: 100%;
}
.contentBox {
	width: 100%;
}
#postButton {
	width: 100px;
	height: 40px;
	float: right;
}
